@charset "UTF-8";


:root{
    --cor1: #413bf573;
    --cor2: #823BF5;
    --cor3: #c03bf5d5;
    --cor4: #3b6af5af;
    --cor5: #f53be9;
    --cor6: #C4A6F5;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
header{
    background-color: var(--cor1);
    font-weight: bolder;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 300px;
    background-image: url(../Imagens/fundoheader.jpg);
    background-size: cover;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
header li.item{
    margin-right: 10px;
    color: white;
    font-size: 15px;
    backdrop-filter: blur(10px); /* Aplica o efeito de blur */
    background-color: rgba(255, 255, 255, 0); /* Ajusta a opacidade e a cor */
    border-radius: 10px 10px 0 0;
    border: 2px solid var(--cor1);
}
header li.item:hover{
    background-color: var(--cor4);
    cursor: pointer;
}
header ul li {
    display: inline-block;
    padding: 20px;
}
main{
    background-image: linear-gradient(to bottom,var(--cor1), var(--cor3));
}
nav{
    background-color: transparent;
    text-align: center;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.39);
}
nav ul li{
    display: inline-block;
    margin-right: 10px;
    background-color: var(--cor3);
    padding: 10px;
    font-size: 0.8em;
    border-radius: 10px;
}
nav ul li:hover{
    background-color: white;
    color: var(--cor3);
    cursor: pointer;
}
nav a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    color: var(--cor3);
}
div#container{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    height: 100vh;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
div#imagem{
    background-image: url(../Imagens/ssdcolorido.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
}
section.filho{
    background-color: white;
    height: 100px;
    margin-top: 20px;
    border-radius: 10px 10px 0px 0px;
}
section.filho p{
    font-weight: bolder;
    font-size: 1.2em;
    background-color: white;
    color: #BF3BF5;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
}
section.filho p:hover{
    background-color: var(--cor6);
    color: black;
    font-weight: bolder;
    cursor: pointer;
}
div#imagem:hover + p {
    background-color: var(--cor6);
    color: black;
    font-weight: bolder;
    cursor: pointer;
}
section.filho span{
    color: lightslategray;
    font-size: small;
}
footer{
    color: white;
    text-align: center;
    background-color: black;
}